body{
    font-family: 'Roboto Mono',monospace ;
    text-align: center;
    background-image: url("pasta/images.jpg");
    background-color: #000000;
    background-size: cover;
    background-position:center top;
    background-repeat: no-repeat;
}
.container{
    text-align: center;
    padding: 20px;
}
.pagina-titulo{
    color: #f72c2c;
    margin: 0 0 5px;
    font-size: 50px;
    margin-top:10px ;
}
.pagina-subtitulo{
    color: #ffffff;
    margin-top: 5px;
}
body > img{
    margin: 0 10px;
}

.botao{
    background-color: rgb(252, 100, 89);
    border-radius: 6px;
    margin-bottom: 10px;
}
h1{
    text-align:center;
}
